<div class="ui secondary pointing tabular top attached borderless stackable menu navbar">
	<a class="{{if .PageIsExploreRepositories}}active{{end}} item" href="{{AppSubUrl}}/explore/repos">
		<span class="octicon octicon-repo"></span> {{.i18n.Tr "explore.repos"}}
	</a>
	
	{{if .IsRepoIndexerEnabled}}
	<a class="{{if .PageIsExploreCode}}active{{end}} item" href="{{AppSubUrl}}/explore/code">
		<span class="octicon octicon-code"></span> {{.i18n.Tr "explore.code"}}
	</a>
	{{end}}
</div>
